/* ----- font----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* -------------
   common styles
 ------------- */
body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
h1{
  font-size: 65px;
  color: white;
}

/*-----------------
   Navigation Menu 
  ------------------*/
ul{
  list-style: none;
  color: white;
  font-size: 16px;
}
li{
   margin-left: 40px;
}
.nav-bar{
  justify-content: space-between;
} 
.menu-shortcut{
  display: none;
}
.nav-menu{
  display: flex;
  margin: 0;
  padding-left: 8%;
  padding-top: 40px;
}
.login-button{
  padding-right: 8%;
  padding-top: 30px;
}
.login-button a:hover{
  background-color: rgb(108, 200, 236);
}
/*-----------------------
    copa america 2021
------------------------ */
.banner-container, .nav-bar{
  display: flex;
  background-color: #2D25A0;
}
.button-makeover{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px 10px 24px;
}
.button-makeover i{
  margin-left: 8px;
  margin-right: 8px;
}
.half-width{
    width: 100%;
}
.part1-title{
  padding: 60px 175px;  
}
.part1-photo{
  padding: 100px 110px;
}
.part1-photo img{
   width: 100%;
   height: 100%;
}
.part1-title a:hover{
  background-color: rgb(108, 200, 236);
}
.part1-photo .photo:hover{
  transform: scale(1.2);
  transition: transform 2s ease-in-out;
}
/* ------------------------------
   Second section or players section
   ------------------------------ */
 .container{
   margin-top: 70px;
   margin-left: 106px;
   margin-right: 106px;
 }  
.players{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.player{
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding: 15px;
}
.player img{
 width: 100%;
}
.player-info .player-name{
  font-weight: 700;
  font-size: 24px;
  color: #18191F;
  margin-top: 16px;
}
.player-info .player-details{
  color: #6C6C6C;
  font-size: 16px;
}

/* -----------------------------------
   Bonus section or Highlights section 
   ----------------------------------- */
.bonus-container{
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 30px;
  margin-right: 30px;
}
.highlight-title{
  color: #18191F;
  font-size: 2em;
  text-align: center;
}
.highlight-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.highlight-news img{
  width: 100%;
}

.highlight-link{
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: black;
}
/* ------------------------------------
    Bonus Section 2 or Sponsor Section 
    -----------------------------------*/
.sponsor-logo{
  display: flex;
  justify-content: center;
}
.sponsor-logo img{
  width: 200px;
}

/* ----------------
    Footer Section 
    ---------------*/
.football-logo{
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.football-logo img{
  /* Width: 483.87px;
  Height: 110px; */
  width: 50%;
}
.social-icon{
  display: flex;
  justify-content: center; 
}
.icon-makeover{
  width: 32px;
  height: 32px;
  border-radius: 50px;
  background-color: #d3d1d1;
  text-align: center;
  margin:0px 14px;
  line-height: 33px;
}
.icon-makeover i{
  color: #969BAB;
}
.footer-part{
  color: #000000;
  font-size: 18px;
  text-align: center;
}

/* ---------------
    Media Query 
   --------------- */
/* ---------- For Mobile Devices ------------ */

    @media only screen and (max-width:688px){
     .nav-menu{
       display: none;
     }
     .menu-shortcut{
       display: block;
       padding-top: 30px;
     }
     .banner-container{
       flex-direction: column;
     }
     .part1-title{
       padding: 10px 90px;  
     }
     .part1-title h1{
       font-size: 40px;
     }
     .players{
       grid-template-columns: repeat(1, 1fr);
     }
     .highlight-container{
      grid-template-columns: repeat(1, 1fr);
     }
     .sponsor-logo{
       flex-direction: column;
       justify-content: center;
       align-items: center;
     }
}

/* --------For Tablet Devices---------- */
@media only screen and (min-width:688px) and (max-width:992px){
  .nav-menu{
    display: none;
  }
  .menu-shortcut{
    display: block;
    padding-top: 30px;
  }
  .banner-container{
    flex-direction: column;
  }
  .players{
    grid-template-columns: repeat(2, 1fr);
  }
  .highlight-container{
   grid-template-columns: repeat(2, 1fr);
  }
}